*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    margin-bottom: 30px;
}

.container{
    margin: 100px auto;
    background-color: rgb(226, 214, 200);
    width: 500px;
    height: 500px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}